# Payment Microservice Environment Variables
INSTANA_SERVICE_NAME=payment
CART_HOST=cart
USER_HOST=user
PAYMENT_GATEWAY=https://paypal.com/
AMQP_HOST=rabbitmq
PAYMENT_DELAY_MS=0
SHOP_PAYMENT_PORT=8080
