# Web Microservice Environment Variables
CATALOGUE_HOST=catalogue
USER_HOST=user
CART_HOST=cart
SHIPPING_HOST=shipping
PAYMENT_HOST=payment
RATINGS_HOST=ratings
INSTANA_AGENT_KEY=
INSTANA_EUM_KEY=
INSTANA_EUM_REPORTING_URL=
